# Configurações da Aplicação
SECRET_KEY=sua-chave-secreta-aqui
DATABASE_URL=sqlite:///database.db
SESSION_TIMEOUT=30
DEBUG=True

# Credenciais do Administrador Inicial
ADMIN_USERNAME=projeto.admin
ADMIN_PASSWORD=mudar@123
